html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
}

html {
    font-size:62.5%;
    /* font-family: 'Raleway', sans-serif; */
}

body {
    background:white;
    font-size:1.4rem;
    font-family: 'Lora', serif;
    color:dimgrey;
}

p {
    line-height:2;
}

h2,h3,h4,h5 {
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    margin:0;
    color:black;
}

h2 {
    font-size:4.5rem;
    width:30%;
}

h3 {
    font-size:3.6rem;
    letter-spacing:2px;
}

h4 {
    font-size:2.5rem;
}

h5 {
    font-size:1.8rem;
    line-height:3;
}

h6 {
    font-family:'Raleway', serif;
    font-size:1.4rem;
    text-transform:uppercase;
    /* font-weight:400; */
}

img {
    width:100%;
    display:block;
}

button:hover {
    cursor:pointer
}

/* HEADER STYLES */

header {
    background:url(../assets/home-1.jpeg) no-repeat;
    background-attachment:fixed;
    height:100vh;
}

header h2 {
    /* border:1px solid red; */
    position:relative;
    top:50px;
    left:2%;
}

/* NAV STYLES */

header nav {
    float:right;
    margin-right:20px;
}

header nav li {
    /* border:1px solid red; */
    float: left;
    list-style:none;
    margin:0;
}

header nav a {
    color:black;
    text-transform:uppercase;
    font-weight:600;
    font-size:1.6rem;
    /* display:inline-block; */
}

a:hover {
    color:#64a604;
}

a:active {
    color:grey;
}

a {
    text-decoration:none;
    padding:10px;
    font-family: 'Raleway', sans-serif;
    padding:10px;
    transition:all 0.3s ease-in-out;
    color:grey;
}

.circle {
    background:#64a604;
    width: 15px;
    height:15px;
    color:white;
    border-radius:50%;
    text-align:center;
    font-size:1.1rem;
    position: relative;
    bottom:20px;
    left:15px;  
}   

.circle p {
    padding-top:3px;
}

/* MAIN STYLES */
main.wrapper {
    width:100%;
    max-width:2000px;
    margin:0 auto;
}

main {
    line-height:2;
}

button {
    background:#64a604;
    border:1px solid #64a604;
    padding:12px 20px;
    transition:all 0.3s ease-in-out
}

button:hover {
    background:#85d413;
    border: 1px solid #85d413;
}

button:active {
    background:#64a604;
    border:1px solid #64a604;
}

button a {
    color:white;
    padding:10px;
}

hr {
    color:#64a604;
    background:#64a604;
    border:1px solid #64a604;
    width:75px;
    height:1.5px;
    margin:20px auto 30px;
}

.recipes figure {
    /* border:1px solid red; */
    padding:0;
    margin:0;
    width:50%;  
    float:left;
}

.recipesTop {
    /* border:1px solid black; */
    width:100%;
    margin:0;
}

.recipes h5 {
    line-height:1.5;
}

.recipesTop p {
    /* border:1px solid red; */
    margin:30px auto;
}

.recipes article {
    margin:0;
    width:50%;
    float: left;
    /* border:1px solid red; */
}

.recipes article:nth-child(1) {
    /* border:1px solid green; */
    text-align:center;
    padding: 7.5% 6%;
}

.recipes article:nth-child(2) {
    background:#f2f2f2;
    padding:55px 10px;
}

.recipes article:nth-child(2) p {
    /* border:1px solid red; */
    margin:0;
}

article.recipesHalf {
    /* border:1px solid blue; */
    margin:0;
}

.recipesHalf ul {
    /* border:1px solid cyan; */
    width:90%;
    float: left;
    margin:0 50px;
}


.recipesHalf li {
    width:calc(50% - 60px);
    list-style:none;
    padding:0;
    margin:9px 30px;
    float: left;
    font-size:1.3rem;
    line-height:1;
    /* border:1px solid red; */
}

.recipesHalf p {
    line-height:2;
}

.icon i {
    float:left;
    font-size:2.5rem;
    margin-left:40px;
    /* border:1px solid black; */
}

.recipesHalf li{
    position: relative;
}

.recipesHalf li::before {
    font-family:'Font Awesome 5 Free';
    position: absolute;
    font-size:3rem;
    left:-45px;
    top:5px;
    font-weight: 900;
}

.recipesHalf li:nth-of-type(1)::before {
    content:'\f094';
}

.recipesHalf li:nth-of-type(2)::before {
    content:'\f2e7';
}

.recipesHalf li:nth-of-type(3)::before {
    content:'\f0f4';
}

.recipesHalf li:nth-of-type(4)::before {
    content:'\f000';
}

.recipesHalf li:nth-of-type(5)::before {
    content:'\f06c';
}

.recipesHalf li:nth-of-type(6)::before {
    content:'\f2e5';
}

/* RESTAURANT STYLES */

.restaurants {
    margin:10% auto;
}

.restaurants figure {
    /* border:1px solid red; */
    width:40%;
    margin:0 auto;
    position:relative;
}

.restaurants figcaption {
    text-align:center;
    width:50%;
    margin:4% auto;
}

.restaurants figure img:nth-of-type(2) {
    /* border:1px solid cyan; */
    width:150px;
    height:150px;
    position:absolute;
    top:-80px;
    right:-50px;
}

/* GALLERY STYLES */

.gallery {
    width:100%;
}

.gallery figure {
    width:33.3%;
    float: left;
    margin:0 auto;
}

/* CLIENTS */

section.carousel-wrapper {
    background:#dded9a;
    padding:15%;
    width:100%;
    /* border:1px solid red; */
}

article.clients {
    width: 60%;
    margin:0 auto;
    text-align:center;
}

.clients p {
    font-style:italic;
    line-height:2;
}

.clients blockquote::before, .clients blockquote::after {
    font-size:7rem;
    color:#eef6cd;
    position: absolute;
}

.clients blockquote::before {
    content:'“';
    /* top:60px; */
    /* left:20px; */
}

.clients blockquote::after {
    content:'”';
    /* bottom:-50px; */
    /* right:0px; */
}

/* FOOTER STYLES */

footer {
    background:#2e2e2e;
    color:#848484;
    padding:5% 0 0;
    /* border:1px solid red; */

}

footer h2 {
    color:#64a604;
    line-height:1;
}   

footer h4 {
    color:white;
    letter-spacing:1px;
}

footer a {
    /* border:1px solid red; */
    padding-left:0;
}

footer .wrapper {
    width:75%;
    margin:0 auto;
    /* border:1px solid red; */
}

.third {
    width:calc((100% / 3) - 100px);
    float: left;
    margin:10px 50px;
    /* border:1px solid cornflowerblue; */

}

.third:nth-of-type(1) ul, .third:nth-of-type(2) ul {
    /* border:1px solid red; */
    padding:0;
}

.third li {
    list-style:none;
    padding:8px 0;
}

.third:nth-of-type(1) li {
    border-top:1px solid rgba(132,132,132,0.5);
}

.third:nth-of-type(2) a {
    font-family:'Lora', serif;
}

.third:nth-of-type(2) li:not(.last) {
    border-bottom:1px solid rgba(132,132,132,0.5);
}

.third input[type="email"] {
    /* border:1px solid cyan; */
    background:#535353;
    border:1px solid #535353;
    padding:10px 15px;
    color:white;
    font-family:'Lora', serif;
    font-style:italic;
    float: left;
    height:100%;
}

.third button {
    /* float: left; */
    background:#64a604;
    border:1px solid #64a604;
    padding:7px 0;
    height:100%;
}

form {
    margin:25px 0;
}

footer button i {
    /* border:1px solid cyan; */
    color:white;
    font-size:2rem;
    padding-left:8px;
}

.third:nth-of-type(3) ul {
    border-top:1px solid rgba(132,132,132,0.5);
    padding:10px 0 0 2px;
    /* margin-top:20px; */
}

.third:nth-of-type(3) li {
    /* float: left; */
    display:inline-block;
    padding:0;
}

.third:nth-of-type(3) nav a {
    color:white;
    padding:0 8px;
    font-size:1.5rem;
}

.third:nth-of-type(3) nav a:hover {
    color:#64a604;
}

.credit {
    clear:both;
    width:100%;
    background:#252525;
    padding:5px 0;
    font-size:1.3rem;
    margin-top:30px;
}

.credit a {
    color:#64a604;
    padding:10px 0;
    /* display:inline-block; */
}

.copyright {
    width:70%;
    margin:0 auto;
}

/* BLOG PAGE STYLES */

header.blog {
    background:url(../assets/blog-1.jpeg);
    /* background-attachment:fixed; */
    background-size:cover;
    height:60vh;
}

.blogMain .wrapper {
    /* border:1px solid red; */
    width:70%;
    margin:6% auto 0;
}

.blogMain span:nth-of-type(2)::before, .blogMain span:nth-of-type(2)::after, .related span:nth-of-type(2)::before, .related span:nth-of-type(2)::after {
    content:'|';
    padding:0 5px;
}

.blogMain p {
    line-height:2;
    margin:2% 0 2.5%;

}

article.bottom a {
    /* border:1px solid orange; */
    font-family:'Lora', serif;
    padding:5px 2px;;
}

article.bottom li {
    list-style:none;
    float: left;
    /* border:1px solid green; */
}

article.bottom ul:nth-of-type(2) li {
    /* border:1px solid red; */
    margin-left:10px;
}

article.bottom ul {
    /* border:1px solid red; */
    float:left;
    padding:0;
    margin-top:32px;
}

article.bottom h6 {
    /* border:1px solid red; */
    float:left;
    clear:left;
}

article.bottom h6:nth-of-type(1) {
    margin-bottom:0;
}

article.bottom i {
    font-size:1.7rem;
}

article.bottom {
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.author {
    margin:3.5% 0 2%;
    border-bottom:1px solid lightgrey;
    padding-bottom:3.5%;
}

.author figure {
    /* border:1px solid firebrick; */
    width:20%;
    margin:0;
    float: left;
}

.author figcaption {
    width:calc(80% - 20px);
    background:#f6f6f6;
    padding:20px 40px;
    float: left;
    margin-left:20px;
}

section.related.wrapper {
    width:70%;
    margin:0 auto;
    padding-bottom:3.5%;  
    border-bottom:1px solid lightgrey;
    /* border:1px solid red; */
}

.related figure {
    float: left;
    width:calc((100% - 30px)/ 3);
    margin:20px 15px 0 0;
}

.related figure:nth-of-type(3) {
    /* border:1px solid cyan; */
    margin-right:0;
}

.related h6 {
    color:#333333;
    margin:15px 0;
}

.related a {
    /* border:1px solid green; */
    font-family:'Lora', serif;
    padding-left:5px;
}


/* COMMENTS SECTION STYLES */
.comments {
    color:#333333;
    line-height:2;
    letter-spacing:0.3px;
    padding:2% 0;
    /* border:1px solid green; */
}

.first h6, .second h6 {
    /* float: left; */
    text-transform:capitalize;
    /* border:1px solid black; */
    display:inline;
    float:left;
    margin:0;
}

.comments span:nth-of-type(1) {
    /* border:1px solid red; */
    float: left;
    margin-left:5px;
    /* font-size:1.2rem; */
}

.comments span:nth-of-type(2) {
    /* border:1px solid orange; */
    font-weight:700;
}

section.comments {
    width:70%;
    margin:0 auto;
    clear:both;
}

.imgIcon {
    width:7%;
    float: left;
}

.quoteTriangle {
    width:0px;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    clear:both;
    position: absolute;
    top:10px;
    left:-10px; 
    z-index:-1;
    /* border:1px solid cyan; */
}

.quoteTriangle.one {
    border-bottom:15px solid #efefef;
}

.quoteTriangle.two {
    border-top:15px solid #efefef;
    top:25px;
}

.first, .second {
    background:#efefef;
    border-radius:3px;
    float: left;
    width:calc(93% - 40px);
    padding: 0 30px;
    /* border:1px solid green; */
    margin-left:40px;
    padding:2%;
    position: relative;
}

.comment {
    margin-top:50px;
    /* border:1px solid red; */
}

.comments p {
    clear:both;
    line-height:2;
    margin-bottom:0;
}

.leaveComment {
    padding:3% 0;
}

.leaveComment h5 {
    /* border:1px solid red; */
    margin-bottom:0;
}

.leaveComment p {
    font-style:italic;
    color:#999999;
    margin:0;
}

input {
    font-family:'Lora', serif;
}

input:focus, .contactForm input:focus{
    background:rgba(100,166,4,0.2);
}

.leaveComment input[type="text"], .leaveComment input[type="email"] {
    float: left;
    width:calc((100% - 40px) / 3);
    margin-right:20px;
    padding:10px;
    border:1px solid rgba(204,204,204,0.5);
}

.leaveComment input[type="text"]:nth-of-type(3) {
    margin-right:0;
}

textarea {
    width:100%; 
    border:1px solid rgba(204,204,204,0.5);
    margin:20px 0; 
    resize:none;
    font-family:'Lora', serif;
}

/* CONTACT PAGE STYLES */

header.contact {
    background:url(../assets/contact-1.jpeg);
    background-size:cover;
    background-attachment:fixed;
    height:75vh;
}

main.contact {
    width:60%;
    margin:0;
    /* border:1px solid orange;  */
    float: left;   
}

/* CONTACT FORM */

section.contactForm {
    /* border:1px solid orange; */
    width:70%;
    float:right;
    margin:50px 30px;
}

.contactForm input, .contactForm textarea {
    background:#f6f6f6;
    border:none;
    padding:20px;
    margin:10px 0;
    font-family:'Lora', serif;
}

.contactForm input:nth-of-type(1), .contactForm input:nth-of-type(2) {
    /* border:1px solid cyan; */
    width:50%;
    display:inline-block;
    float: left;
}

.contactForm input:nth-of-type(1) {
    margin-right:10px;
    width:calc(50% - 10px);
}

.contactForm input:nth-of-type(3) {
    width:100%;
}

.contactForm a {
    color:#64a604;
}

aside {
    width:40%;
    padding:70px 100px 70px 30px;
    /* margin:0; */
    background:#f6f6f6;
    float: left;
}

aside .wrapper {
    /* border:1px solid black; */
    width:70%;
    line-height:2;
    font-size:1.3rem;
}

aside ul, aside a {
    padding:0;
    color:#999999;
}

aside li {
    list-style:none;
    padding:0 0 10px;
}

li p {
    line-height:1;
}

aside h6 {
    margin:0;
    /* line-height:2; */
}

strong {
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
}

em {
    display:block;
}

.dragonFruitBG {
    width:100%;
    background:url(../assets/contact-2.jpeg);
    height:60vh;
    background-size:cover;
}

/* CAROUSEL */
.carousel-wrapper{
    height:400px;
    position:relative;
    width:100%;;
    margin:0 auto;
  }
.carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
.arrow {
    position:absolute;
    top:0;
    display:block;
    width:50px;
    height:100%;
    -webkit-tap-highlight-color: rgba(255,255,255,1);
    /* background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat; */
    background:url(../assets/angle-left-solid.svg) 50% 50% / 15px no-repeat;
    /* border:1px solid red; */
  }
  
.arrow-prev{
    top:160px; 
    left:45%;
} 
   
.arrow-next{
    top:160px;
      right:45%;
      -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
}
  
.light{
    color:white;
}
  
@media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
[id^="item"] {
      display: none;
}
  
.item-1 {
      z-index: 2;
      opacity: 1;
      background:#dded9a;
}

.item-2{
      background:#dded9a;
}

.item-3{
      background:#dded9a;
}
  
*:target ~ .item-1 {
      opacity: 0;
}
  
#item-1:target ~ .item-1 {
      opacity: 1;
}
  
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
}

article.clients {
      /* border:1px solid green; */
      margin:60px auto;
      text-align:center;
      /* position:relative; */
}
  
.clients p {
      font-style:italic;
      line-height:2;
}
  
.clients blockquote::before, .clients blockquote::after {
      font-size:9rem;
      color:#eef6cd;
      position: absolute;
}
  
.clients blockquote::before {
      content:'❝';
      top:80px;
      left:40px;
      /* border:1px solid red; */
}
  
.clients blockquote::after {
      content:'❞';
      bottom:-80px;
      right:40px;
      /* border:1px solid green; */
    }


  
  